SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=””

#######  Total RDS instances #######rds-total.sh
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k rds-ids-total -o $(/etc/zabbix/scripts/rds-total.sh default)

####### RDS Sem Tags #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k aws.prd.rds.without.tag -o $(/etc/zabbix/scripts/aws-prd-rds-without-tag.sh default)

####### ID RDS no Tags #######
*/5 * * * * ubuntu /etc/zabbix/scripts/rds-ids-no-tags.sh {{ zabbix_server_ip }}

####### Ec2 Sem Tags #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k ec2.without.tag -o $(/etc/zabbix/scripts/ec2.without.tag.sh default)

####### S3 Sem Encriptar #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k s3..prd.without.encrypt -o $(/etc/zabbix/scripts/aws-s3-encrypt-prd.sh default)

####### S3-sem-tag #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k aws.prd.s3.without.tag -o $(/etc/zabbix/scripts/s3-sem-tag.sh default)

####### Total S3 #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k s3.prd  -o $(/etc/zabbix/scripts/s3-total.sh default)

#######  Id Ec2 no tags #######ec2-ids-no-tags.sh
*/5 * * * * ubuntu /etc/zabbix/scripts/sender-ec2-ids-no-tag.sh {{ zabbix_server_ip }}

#######  Names S3 buckets sem tags #######s3-names.sh
*/5 * * * * ubuntu /etc/zabbix/scripts/s3-no-tags.sh {{ zabbix_server_ip }}

#######  Total S3 Unencrypted #######s3-no-crypt.sh {{ zabbix_server_ip }}
*/5 * * * * ubuntu /etc/zabbix/scripts/s3-no-crypt.sh {{ zabbix_server_ip }}

#######  Total Lambdas #######lambda-total.sh
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k lambda-total -o $(/etc/zabbix/scripts/lambda-total.sh default)

#######  Lambda Sem Tags #######
*/5 * * * * ubuntu /etc/zabbix/scripts/lambda-name-no-tags.sh {{ zabbix_server_ip }}

#######  Lambda no Tags total #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k lamba-no-tag-total -o $(/etc/zabbix/scripts/lambda-no-tags.sh default)

#######  ELB Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k elb-total -o $(/etc/zabbix/scripts/elb-dns-total.sh default)

#######  ELB no Tags  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k elb-total-no-tags -o $(/etc/zabbix/scripts/elb-no-tags.sh default)

#######  ELB no Tags DNS  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/elb-no-tags-dns.sh {{ zabbix_server_ip }}

#######  AMI Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k ec2-ami-total -o $(/etc/zabbix/scripts/ec2-ami-total.sh default)

#######  AMI No Tags Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k ec2-ami-no-tags-total -o $(/etc/zabbix/scripts/ec2-ami-no-tags-total.sh default)

#######  AMI No Tags IDs  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/ec2-ami-no-tags-ids.sh {{ zabbix_server_ip }}

#######  ECS Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k ecs-total -o $(/etc/zabbix/scripts/ecs-total.sh default)

#######  ECS no Tags count  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k ecs-no-tags-total -o $(/etc/zabbix/scripts/ecs-no-tags.sh default)

#######  ECS IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/ecs-ids-no-tags.sh {{ zabbix_server_ip }}

#######  VPC Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k vpc-total -o $(/etc/zabbix/scripts/vpc-total.sh default)

#######  VPC no Tags count  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k vpc-no-tags-total -o $(/etc/zabbix/scripts/vpc-no-tags.sh default)

#######  VPC IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/vpc-ids-no-tags.sh {{ zabbix_server_ip }}

#######  EIP Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k eip-total -o $(/etc/zabbix/scripts/eip-total.sh default)

#######  EIP no Tags count  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k eip-no-tags-total -o $(/etc/zabbix/scripts/eip-no-tags.sh default)

#######  EIP IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/eip-ids-no-tags.sh {{ zabbix_server_ip }}

#######  SG Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k sg-total -o $(/etc/zabbix/scripts/sg-total.sh default)

#######  SG no Tags count  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k sg-no-tags-total -o $(/etc/zabbix/scripts/sg-no-tags.sh default)

#######  SG IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/sg-ids-no-tags.sh {{ zabbix_server_ip }}

#######  Snapshot Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k snapshot-total -o $(/etc/zabbix/scripts/snapshot-private-total.sh default)

#######  Snapshot no Tags count #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k snapshot-no-tags-total -o $(/etc/zabbix/scripts/snapshot-private-no-tags.sh default)

#######  Snapshot IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/snapshot-private-ids-no-tags.sh {{ zabbix_server_ip }}

#######  Snapshot DB Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k snapshot-db-total -o $(/etc/zabbix/scripts/snapshot-db-total.sh default)

#######  Snapshot DB no Tags count #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k snapshot-db-no-tags-total -o $(/etc/zabbix/scripts/snapshot-db-no-tags.sh default)

#######  Snapshot DB IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/snapshot-db-ids-no-tags.sh {{ zabbix_server_ip }}

#######  IAM Roles Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k iam-roles-total -o $(/etc/zabbix/scripts/iam-role-total.sh default)

#######  IAM Roles no Tags count #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k iam-roles-no-tags-total -o $(/etc/zabbix/scripts/iam-role-no-tags.sh default)

#######  IAM Roles IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/iam-role-ids-no-tags.sh {{ zabbix_server_ip }}

#######  Cloudfront Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k cloudfront-total -o $(/etc/zabbix/scripts/cloudfront-total.sh default)

#######  Cloudfront no Tags count #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k cloudfront-no-tags-total -o $(/etc/zabbix/scripts/cloudfront-no-tags-total.sh default)

#######  Cloudfront IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/cloudfront-ids-no-tag.sh {{ zabbix_server_ip }}

#######  Elastic Beanstalk Total  #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k elasticbeanstalk-total -o $(/etc/zabbix/scripts/elasticbeanstalk-total.sh default)

#######  Elastic Beanstalk no Tags count #######
*/5 * * * * ubuntu /usr/bin/zabbix_sender -z {{ zabbix_server_ip }} -s "AWS" -k elasticbeanstalk-no-tags-total -o $(/etc/zabbix/scripts/elasticbeanstalk-no-tags-total.sh default)

#######  Elastic Beanstalk IDs no Tags  #######
*/5 * * * * ubuntu /etc/zabbix/scripts/elasticbeanstalk-ids-no-tag.sh {{ zabbix_server_ip }}

