SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=””

####### RDS Sem Tags #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k aws.prd.rds.without.tag -o $(/etc/zabbix/scripts/aws-prd-rds-without-tag.sh default)

####### Ec2 Sem Tags #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k ec2.without.tag -o $(/etc/zabbix/scripts/ec2.without.tag.sh default)

####### S3 Sem Encriptar #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k s3..prd.without.encrypt -o $(/etc/zabbix/scripts/aws-s3-encrypt-prd.sh default)

####### S3-sem-tag #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k aws.prd.s3.without.tag -o $(/etc/zabbix/scripts/s3-sem-tag.sh default)

####### Total S3 #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k s3.prd  -o $(/etc/zabbix/scripts/s3-total.sh default)

####### ID RDS no Tags #######
0 * * * * zabbix /etc/zabbix/scripts/rds-ids-no-tags.sh

#######  Id Ec2 no tags #######ec2-ids-no-tags.sh
0 * * * * zabbix /etc/zabbix/scripts/sender-ec2-ids-no-tag.sh

#######  Names S3 buckets sem tags #######s3-names.sh
0 * * * * zabbix /etc/zabbix/scripts/s3-no-tags.sh

#######  Total RDS instances #######rds-total.sh
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k rds-ids-total -o $(/etc/zabbix/scripts/rds-total.sh default)

#######  Total S3 Unencrypted #######s3-no-crypt.sh
0 * * * * zabbix /etc/zabbix/scripts/s3-no-crypt.sh

#######  Total Lambdas #######lambda-total.sh
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k lambda-total -o $(/etc/zabbix/scripts/lambda-total.sh default)

#######  Lambda Sem Tags #######aws-lambda-no-tags.sh
0 * * * * zabbix /etc/zabbix/scripts/aws-lambda-no-tags.sh

#######  ELB Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k elb-total -o $(/etc/zabbix/scripts/elb-dns-total.sh default)

#######  ELB no Tags  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k elb-total-no-tags -o $(/etc/zabbix/scripts/elb-no-tags.sh default)

#######  ELB no Tags DNS  #######
0 * * * * zabbix /etc/zabbix/scripts/elb-no-tags-dns.sh

#######  AMI Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k ec2-ami-total -o $(/etc/zabbix/scripts/ec2-ami-no-tags-ids.sh default)

#######  AMI No Tags IDs  #######
0 * * * * zabbix /etc/zabbix/scripts/ec2-ami-ids.sh

#######  ECS Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k ecs-total -o $(/etc/zabbix/scripts/ecs-total.sh default)

#######  ECS no Tags count  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k ecs-no-tags-total -o $(/etc/zabbix/scripts/ecs-no-tags.sh default)

#######  ECS IDs no Tags  #######
0 * * * * zabbix /etc/zabbix/scripts/ecs-ids-no-tags.sh

#######  VPC Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k vpc-total -o $(/etc/zabbix/scripts/vpc-total.sh default)

#######  VPC no Tags count  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k vpc-no-tags-total -o $(/etc/zabbix/scripts/vpc-no-tags.sh default)

#######  VPC IDs no Tags  #######
0 * * * * zabbix /etc/zabbix/scripts/vpc-ids-no-tags.sh

#######  EIP Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k eip-total -o $(/etc/zabbix/scripts/eip-total.sh default)

#######  EIP no Tags count  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k eip-no-tags-total -o $(/etc/zabbix/scripts/eip-no-tags.sh default)

#######  EIP IDs no Tags  #######
0 * * * * zabbix /etc/zabbix/scripts/eip-ids-no-tags.sh

#######  SG Total  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k sg-total -o $(/etc/zabbix/scripts/sg-total.sh default)

#######  SG no Tags count  #######
0 * * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k sg-no-tags-total -o $(/etc/zabbix/scripts/sg-no-tags.sh default)

#######  SG IDs no Tags  #######
0 * * * * zabbix /etc/zabbix/scripts/sg-ids-no-tags.sh

#######  Snapshot no Tags count #######
0 0 * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k snapshot-no-tags-total -o $(/etc/zabbix/scripts/snapshot-no-tags.sh default)

#######  Snapshot Total  #######
0 0 * * * zabbix /usr/bin/zabbix_sender -z 54.207.205.224 -s "AWS" -k snapshot-total -o $(/etc/zabbix/scripts/snapshot-total.sh default)

